Package: com.m4cs.datacc
Name: DataCC
Version: 0.0.1
Architecture: iphoneos-arm
Description: Show Data info on CC
Author: M4cs, Midnight
Section: Control Center (Modules)
Depends: mobilesubstrate, com.ioscreatix.silo, firmware (>= 11)
Maintainer: M4cs (macs@m4cs.xyz)