<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>DataCC</string>
	<key>CFBundleIdentifier</key>
	<string>com.m4cs.datacc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DataCC</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>ModuleSize</key>
	<dict>
		<key>columns</key>
		<string>4</string>
		<key>rows</key>
		<string>1</string>
	</dict>
	<key>NSPrincipalClass</key>
	<string>DataCC</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>_CCModuleSizePROTOTYPE</key>
	<dict>
		<key>height</key>
		<string>1</string>
		<key>width</key>
		<string>4</string>
	</dict>
</dict>
</plist>
